:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  background-color: darkblue;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 5px;
  color: #f9f9f9;
}

nav li {
  margin-right: 10px;
  margin-left: 10px;
}

nav a {
  color: white;
}

.topic-badge {
  margin-left: 10px;
  font-size: 11px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: lightgray;
  padding: 2px 4px;
  text-align: center;
  border-radius: 5px;
}

footer {
  background-color: darkgrey;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 5px;
  color: #f9f9f9;
}

#all-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  margin: 10px;
  max-width: 30%;
}

#all-articles h2 {
  margin: 0;
  line-height: 1.2;
  font-size: 95%;
}

#all-articles p {
  margin: 0;
}

#all-articles img {
  max-width: 100%;
}

.article-details {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: left;
  font-size: smaller;
}

.article-list-details li {
  margin-right: 10px;
  margin-top: 0px;
}

.article-list-details {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  justify-content: left;
  font-size: smaller;
}

.full-article p {
  text-align: justify;
}

.votes {
  text-align: left;
  font-size: smaller;
  font-weight: 600;
}

.votes img {
  margin-right: 2px;
}

.votes img:hover {
  cursor:pointer
}

.status {
  margin-left: 10px;
  color: red;
}

.comment-details {
  display: flex;
  list-style-type: none;
  justify-content: right;
  font-size: smaller;
}

.comment-details li {
  margin-right: 10px;
  margin-left: 0px;
}

.article-comments p {
  text-align: justify;
}

.article-comment {
  padding: 15px;
  margin: 15px;
  border: lightgray;
  border-style: solid;
  border-width: 1px;
}

#add-comment-label {
  display: block;
  text-align: left;
}

#add-comment-form {
  margin:15px;
}

#add-comment-form button {
  text-align: right;
  padding: 3;
  margin-right: 5px;
  border: 1px solid transparent;
}

#add-comment-submit:enabled {
background-color: #0feb84;
}

#add-comment-form button:hover:enabled {
border: 1px solid black;
}

#add-comment-text {
  box-sizing: border-box;
  resize:vertical;
  width: 100%;
  padding: 5px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.button-comment-delete {
  border: 1px solid transparent;
  background-color: red;
  color: white;
  padding: 1px 2px;
  border-radius: 0px;
}

.button-comment-delete:hover {
  border: 1px solid black;
}

.button-comment-delete:disabled {
  background-color: lightgray;
}

#topics-list dl {
  text-align: left;
  margin-left: 10px;
}

#topics-list dt {
  font-weight: bold;
  text-transform: uppercase;
}

#topics-list dd {
  background:none no-repeat left top;
  padding-left: 20px;
  font-size: smaller;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
